{% extends 'layout/admin-layout.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1>Hello {{ app.user.firstName }} {{ app.user.lastName }}</h1>

    <div class="mt3">
        <a href="{{ path('admin_posts')}}" type="button" class="btn btn-outline-primary ml-3">To posts</a>
        <a href="{{ path('admin_post_categories')}}" type="button" class="btn btn-outline-primary ml-3">To post categories</a>

    </div>
</div>
{% endblock %}
