{% extends 'layout/layout.html.twig' %}

{% block body %}


<div class="example-wrapper">
    <h1>Send a help ticket to admin</h1>

    {{ form_start(form) }}
    {{ form_end(form) }}

</div>
{% endblock %}
